body {
  background-color: darkgray;
  margin: 0px;
}


header {
  background-color: white;
  position: fixed;
  width: 100%;
  z-index: 950;
  -webkit-box-shadow: -1px -9px 42px 15px rgba(0,0,0,0.61);
  -moz-box-shadow: -1px -9px 42px 15px rgba(0,0,0,0.61);
  box-shadow: -1px -9px 42px 15px rgba(0,0,0,0.61);
}

nav {
  width: 80%;
  margin: 0 auto;
  text-decoration: none;
}

h1 {
  display: inline-block;
  font-family: 'Oswald', sans-serif;
  letter-spacing: 1.5px;
}

h1 span {
  color: #FF358B;
}


.buttons {
  display: inline-block;
  text-decoration: none;
  list-style-type: none;
  float: right;
}

li {
  display: inline-block;
  padding: 10px 20px;
}

li a {
  color: #333333;
  text-decoration: none;
  font-family: 'Open Sans', sans-serif;
}

p, button {
 font-family: 'Open Sans', sans-serif;
}

button {
  padding: 15px;
  width: 110px;
  font-size: 13px;
  margin-top: 10px;
  border-radius: 30%;
}



#wrapper {
  position: relative;
}

section {
  position: fixed;
  height: 656px;
  padding: 100px 0px;
  width: 100%;
  z-index: 900;

}

#gameboard {
  height: 650px;
  width: 650px;
  margin: 0 auto;
  border: 1px solid white;
  background-color: #AEEE00;
  }

#rowtop {
  margin: 0px;
  display: inline-block;
  height: 79.25px;
  width: 650px;
  padding: 0;
  position: absolute;
}

#rowbottom {
  display: inline-block;
  height: 79.25px;
  width: 650px;
  bottom: 107px;
  padding: 0;
  position: absolute;
  margin: 0;
}


.space {
  display: inline-block;
  border: 1px solid #333333;
  padding: 0;
  height: 79.25px;
  width: 79.25px;
  background-color: white;
}

#columnright {
  width: 80px;
  margin: 0px;
  padding: 0;
  margin-top: 80px;
  margin-left: -1px;
  position: absolute;
}

#columnleft {
  width: 79.2px;
  margin: 0;
  padding: 0;
  margin-top: 55px;
  position: absolute;
}

.spacevert {
  border: 1px solid #333333;
  height: 80px;
  width: 80px;
  padding: 0px;
  display: block;
  margin-right: 0px;
  background-color: white;
}

.spacevertleft {
  border: 1px solid #333333;
  height: 80px;
  width: 79.2px;
  padding: 0px;
  top: 0;
  display: block;
  margin-left: -1px;
  background-color: white;
}

#playerfinish h1  {
  text-align: center;
  display: block;
  margin: 0 auto;
  font-size: 17px;
}

#playerstart {
  float: left;
}

#playerstart h1  {
  text-align: center;
  display: block;
  margin: 0 auto;
  font-size: 17px;
}

#homewrapper {
  text-align: center;
  width: 70%;
  margin: 100px auto;
}

.playerhome {
  border-radius: 50%;
  height: 86px;
  width: 86px;
  padding: 35px;
  display: block;
  display: inline-block;
  background-color: #333333;
  margin-right: 40px;
}

.enemyhome {
  border-radius: 50%;
  height: 86px;
  width: 86px;
  padding: 35px;
  display: inline-block;
  background-color: #333333;
  margin-left: 40px;
}

.peg {
  border-radius: 50%;
  width: 25px;
  height: 25px;
  margin: 7px;
  display: inline-block;
  position: relative;
  background-color: #FF358B;
  float: left;
}

.enpeg {
  border-radius: 50%;
  width: 25px;
  height: 25px;
  margin: 7px;
  display: inline-block;
  position: relative;
  background-color: #01B0F0;
  float: left;
}

.selected {
  border: 2px solid #AAAAAA;
}

.instructboard {
  height: 600px;
  width: 600px;
  margin: 0 auto;
  border: 3px solid black;
  background-color: white;
  text-align: center;
  padding: 25px;
  }

  .instructboard p {
    width: 90%;
    padding: 0;
    margin: 0 auto;
  }

  .instructboard button {
    margin-top: 15px;
  }

  .instructboard img {
    height: 35%;
  }

  .aboutboard {

  height: 650px;
  width: 650px;
  margin: 0 auto;
  border: 3px solid black;
  background-color: white;
  }

  .messagebox {
    width: 455px;
    height: 133px;
    position: fixed;
    border: 3px dashed black;
    background-color: white;
  }








